{% extends "base.html" %} 
{% load socialaccount %}
{% load star_rating %}
{% load embed_video_tags %}
{% load has_group %}
{% block content %}

<div class="profile-card">
    <div class="profile-header">
        <h2 class="profile-title">User Profile</h2>
    </div>
    <div class="profile-body">
        <div class="profile-info">
            <h4>Name:</h4>
            <p>{{ profile_user.username }}</p>

            <h4>Assanj Points:</h4>
            <p>{{ profile_user.points }}</p>

            <h4>First Name:</h4>
            <p>{{ profile_user.first_name }}</p>

            <h4>Last Name:</h4>
            <p>{{ profile_user.last_name }}</p>

            <h4>Email:</h4>
            <p>{{ profile_user.email }}</p>
            <h4>Status:</h4> 
            <p>{{ profile_user.subscription_status }}</p>
            <h4>Expires on:</h4>
            <p>{{ profile_user.subscription_expiry }}</p>
        </div>

        <div class="profile-actions">
            <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>
</div>

<br>
<br>
<h4 class="anton-regular">Search Users</h4>
<br>
<form method="get" class="anton-regular" action="{% url 'search_users' %}">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>
<h4 class="anton-regular">Friend Requests Sent</h4>
<br>
<ul id="friend-requests-list">
    {% for request in friend_requests_sent %}
        <li class="anton-regular" id="request-{{ request.id }}">
            {{ request.to_user.username }} - 
            <form method="post" action="{% url 'delete_friend_request' %}" style="display:inline;" class="cancel-request-form" data-request-id="{{ request.id }}">
                {% csrf_token %}
                <input type="hidden" name="request_id" value="{{ request.id }}">
                <button type="submit" class="btn btn-warning">Cancel Request</button>
            </form>
        </li>
        <br>
    {% endfor %}
</ul>

<h4 class="anton-regular">Friend Requests Received</h4>
<br>
<ul>
    {% for request in friend_requests_received %}
        <li id="received-request-{{ request.id }}" class="anton-regular">
            {{ request.from_user.username }} - 
            <button 
                onclick="handleFriendRequest('accept', {{ request.id }})" 
                class="btn btn-success">
                Accept
            </button>
            <button 
                onclick="handleFriendRequest('decline', {{ request.id }})" 
                class="btn btn-danger">
                Decline
            </button>
        </li>
    {% endfor %}
</ul>


<h4 class="anton-regular">Friends</h4>
<br>
<ul class="Menu-title">
    {% for friend in friends %}
        <li class="anton-regular" id="friend-{{ friend.id }}">
            <a href="{% url 'user_profile' friend.username %}">
                {{ friend.username }}'s Profile
            </a>
            <button 
                onclick="removeFriend({{ friend.id }})" 
                class="btn btn-danger">
                Remove as Friend
            </button>
        </li>
        <br>
    {% endfor %}
</ul>

<br>
<br>
<br>
<h2 class='anton-regular'>Followed Stallers</h2>
<div class="slider slider1">
    <div class="slides slides1">
      {% for i in followed_stallers %}
        <div class="slide slide1">
          <div class="card mb-4">
              {% video i.video '100% x 80%' %}    
              <h5 class="card-title">{{i.name}}</h5>
              <h6 class="home-card-text">{{i.address}}</h6>
              <h6 class="home-card-text">{{i.timings}}</h6>
              <h6 class="home-card-text">{{i.egit}}</h6>
              <h6 class="home-card-text">{{ i.rating|star_rating }} ({{ i.rating }})</h6>
              <h6 class="home-card-text">Followers: {{i.follow_count}}</h6>
              <a href="{% url 'detail' i.name %}" class="btn btn-primary look-button" data-name="{{i.name}}">Look</a>  
          </div>
        </div>
      {% endfor %}
    </div>
    <button class="prev" onclick="prevSlide1()">&#10094;</button>
    <button class="next" onclick="nextSlide1()">&#10095;</button>
  </div>
{% endblock %}
