{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find products that are not listed anywhere, from mud pots to fancy T-shirts. Hunt the best!!{% block description %}{% endblock description %}">
    <meta name="robots" content="assanj,cheap clothes, best clothes, best stalls in nagpur, best stalls near me, best stalls in my city, best street shops, best street food, hand made products, cheap products {% block keywords %}{% endblock keywords %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/menu_pics/favicon-32x32.png' %}" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Bodoni+Moda+SC:wght@400;700&family=Anton&family=Kings&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css2/styler.css' %}">
    <link rel="icon" href="{% static 'logo/logo.png' %}" type="image/png">
    <title>{% block title %}Assanj{% endblock title %}</title>
</head>
<body style="font-family: 'Playfair Display', serif; background-color: #f9f9f9; color: #333;">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/menu_pics/favicon-32x32.png' %}" alt="Logo" height="50" class="mr-2"> Assanj
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "subscription_page" %}">Plans</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "profile" user.username %}">Profile</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-primary btn-sm px-4 py-2" href="{% url "login" %}" style="border-radius: 20px;">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<!-- Main Content -->
<div class="container mt-5 pt-4">
    {% block content %}
    {% endblock content %}
</div>

<!-- Footer -->
<footer class="bg-dark text-light py-4">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>We are trying to bring all the products that are not listed anywhere across the web. The quality might not be the best, products might not be branded.<br> You will find addidos, pomu, neki and many so on. <br>But you will also find hand-crafted products made by hours of hard work and love, their quality might not surpass the brands or even come close to. But their beauty and aura can never be touched by tagged products. <br>It is time to appreciate the craftsmanship over a tag.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="{% url "future" %}" class="text-light">Future</a></li>
                    <li><a href="{% url "login" %}" class="text-light">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="#" class="text-light mx-2"><i class="bx bxl-facebook-circle"></i></a>
                    <a href="#" class="text-light mx-2"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="text-light mx-2"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="text-light mx-2"><i class="bx bxl-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <small>&copy; 2024 Assanj. All rights reserved.</small>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR1Qyjhb8PEppBjXh4SAsuv6Ofqsp7sRjcWmS9jKY" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2LcEZ8fohBjg1GPaXtkh/T+yzG+5g3u9tiEJe03gyw" crossorigin="anonymous"></script>
<script>
    function goBack() {
      window.history.back();
    }
  </script>
  <script>
    function handleFriendRequest(action, requestId) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let url = "";

        if (action === "accept") {
            url = "{% url 'accept_friend_request' %}";
        } 
        else if (action === "decline") {
            url = "{% url 'delete_friend_request' %}";
        }
        else if (action === "removed") {
            url = "{% url 'per_del_friend' %}";
        }

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({ request_id: requestId })
        })
        .then(response => {
            if (response.ok) {
                document.getElementById(`received-request-${requestId}`).remove();
            } else {
                console.error("Failed to process the request.");
            }
        })
        .catch(error => console.error("Error:", error));
    }
</script>

<script>
    function removeFriend(friendId) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        fetch("{% url 'per_del_friend' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },
            body: JSON.stringify({ request_id: friendId })  // Ensure friendId is passed here
        })
        .then(response => {
            if (response.ok) {
                document.getElementById(`friend-${friendId}`).remove();
            } else {
                console.error("Failed to remove friend.");
            }
        })
        .catch(error => console.error("Error:", error));
    }
</script>
{% block script %}
{% endblock script %}
</body>
</html>
